iframe {
    height: 100%;
    width: 100%;
}

.modal-body {
    height: 80vh;
}

.card-header {
    min-height: 200px;
    text-align: center;
    font-weight: 1000;
}

.card-img-top {
    max-height: 200px;
}