*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.quiz {
  padding: 0;
  margin: 0;
  display: flex;
  width: 90vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu_nav_item {
  color: #f2f2f2;
  text-align: center;
  padding: 20px 33px;
  text-decoration: none;
  font-size: 30px;
  border-width: 100%;
}

.menu_nav_item:hover {
  background-color: #ddd;
  color: teal;
}

.menu_nav_item:active {
  background-color: lightgray;
  color: black;
}

h1 {
  padding: 0;
  margin: 0;
}

img {
  width: 400px;
}

.hide {
  display: none;
}

.image {
  background-color: cadetblue;
  padding: 50px;
  font-size: x-large;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  padding: 10px;
  color: white;
  width: calc(100%/3);
  height: 55px;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start_btn,
.next_btn {
  font-size: larger;
  font-weight: bold;
  padding: 10px 20px;
  width: 100%;
}

.controls {
  display: flex;
}

h3 {
  display: flex;
}

.points {
  font-size: 30px;
  color: white;
}

.square {
  height: 10px;
  width: 10px;
  margin: 5px;
  border: 5px;
  background-color: #555;
  display: flex;
}

.loading {
  border-radius: 50%;
}

.home_address {
  color: #f2f2f2;
  text-align: center;
  font-size: 30px;
  width: 90vw;
  border: 10px;
}

.home_address:hover {
  color: green;
}

.home_address li.active {
  font-weight: 650;
  background-color: #ddd;
}

a {
  color: #ddd;
}

footer {
  padding: 15px;
  color: white;
  position: fixed;
  text-align: right;
  bottom: 0;
  width: 100%;
}