<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard layout</title>
    <link rel="stylesheet" href="task-dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="layout">
        <div class="menu">
            <div class="menu-item menu-welcome">Welcome</div>
            <div class="menu-item menu-profile">Profile</div>
            <div class="menu-item menu-active"><i class="fa fa-home"></i> Home</div>
            <div class="menu-item"><i class="fa fa-people-carry"></i> Team</div>
            <div class="menu-item"><i class="fa fa-memory"></i> Blog</div>
            <div class="menu-item"><i class="fa fa-tasks"></i> Tasks</div>
            <div class="menu-item"><i class="fas fa-book"></i> Pages</div>
            <div class="menu-item menu-footer">
                <div class="mf-item">L</div>
                <div class="mf-item">M</div>
                <div class="mf-item">R</div>
            </div>
        </div>
        <div class="main">
            <div class="main-header">Main header</div>
            <div class="kpis">
                <div class="kpi-item">KPI</div>
                <div class="kpi-item">KPI</div>
                <div class="kpi-item">KPI</div>
                <div class="kpi-item">KPI</div>
            </div>
            <div class="cards">
                <div class="card card-video">Video</div>
                <div class="card card-performance">
                    <div class="spinner"></div>
                </div>
                <div class="card card-app">App</div>
                <div class="card card-usage">Usage</div>
                <div class="card card-settings">Settings</div>
                <div class="card card-recent">Recent</div>
                <div class="card card-image">Image</div>
                <div class="card card-footer">Footer</div>
            </div>
        </div>
    </div>
</body>

</html>