<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard layout</title>
    <link rel="stylesheet" href="task-dashboard-with-content.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="layout">
        <div class="menu">
            <div class="menu-item menu-welcome">Welcome</div>
            <div class="menu-item menu-active"><i class="fa fa-home"></i> Home</div>
            <div class="menu-item"><i class="fa fa-people-carry"></i> Team</div>
            <div class="menu-item"><i class="fa fa-memory"></i> Blog</div>
            <div class="menu-item"><i class="fa fa-tasks"></i> Tasks</div>
            <div class="menu-item"><i class="fas fa-book"></i> Pages</div>
            <div class="menu-item menu-footer">
                <div class="mf-item">L</div>
                <div class="mf-item">M</div>
                <div class="mf-item">R</div>
            </div>
        </div>
        <div class="main">
            <div class="main-header">The page</div>
            <div class="kpis">
                <div class="kpi-item">
                    <h2>Feature One</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam officia perferendis impedit voluptatem similique consectetur repellendus fugiat commodi nemo, doloribus recusandae, ullam voluptatum debitis consequuntur, exercitationem reiciendis laboriosam fuga sapiente.</p>
                </div>
                <div class="kpi-item">
                        <h2>Feature Two</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam officia perferendis impedit voluptatem similique consectetur repellendus fugiat commodi nemo, doloribus recusandae, ullam voluptatum debitis consequuntur, exercitationem reiciendis laboriosam fuga sapiente.</p>
                </div>
                <div class="kpi-item">
                        <h2>Feature Three</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam officia perferendis impedit voluptatem similique consectetur repellendus fugiat commodi nemo, doloribus recusandae, ullam voluptatum debitis consequuntur, exercitationem reiciendis laboriosam fuga sapiente.</p>
                </div>
                <div class="kpi-item">
                        <h2>Feature Four</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam officia perferendis impedit voluptatem similique consectetur repellendus fugiat commodi nemo, doloribus recusandae, ullam voluptatum debitis consequuntur, exercitationem reiciendis laboriosam fuga sapiente.</p>
                </div>
            </div>
            <div class="cards">
                <div class="card card-video">
                    <iframe src="https://www.youtube.com/embed/A_MjCqQoLLA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                </div>
                <div class="card card-performance">
                    <div class="spinner"></div>
                </div>
                <div class="card card-app">
                    <h2>Some header</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam officia perferendis impedit voluptatem similique consectetur repellendus fugiat commodi nemo, doloribus recusandae, ullam voluptatum debitis consequuntur, exercitationem reiciendis laboriosam fuga sapiente.</p>
                </div>
                <div class="card card-usage">
                    <h2>Another header</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam officia perferendis impedit voluptatem similique consectetur repellendus fugiat commodi nemo, doloribus recusandae, ullam voluptatum debitis consequuntur, exercitationem reiciendis laboriosam fuga sapiente.</p>
                </div>
                <div class="card card-settings">
                    <h2>And another header</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam officia perferendis impedit voluptatem similique consectetur repellendus fugiat commodi nemo, doloribus recusandae, ullam voluptatum debitis consequuntur, exercitationem reiciendis laboriosam fuga sapiente.</p>
                </div>
                <div class="card card-full">
                    <h2>Behold</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, rerum?</p>
                </div>
                <div class="card card-recent">
                    <h2>King of games here!</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, consequatur! Nostrum laborum mollitia ut a ex! Accusamus quam harum ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora velit reprehenderit numquam iusto iste. Dolore neque aperiam iure itaque repudiandae?</p>
                </div>
                <div class="card card-image">
                    <img alt="sample-image" src="http://www.millenniumgames.com/wp-content/uploads/2017/04/YugiOhDuel.jpg">
                </div>
                <div class="card card-footer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, eligendi.</div>
            </div>
        </div>
    </div>
</body>

</html>