@import url('https://fonts.googleapis.com/css2?family=Oxanium&family=Quicksand&family=Rajdhani&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header,
section,
aside,
footer {
    font-family: 'Oxanium', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

/** HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-bottom: 20px;
    background-color: rgb(24, 24, 24);
    color: #fff;
}

.header-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/** HEADER - SEARCHBAR */
.movie-searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-searchbar h2 {
    margin: 0;
    padding-bottom: 10px;
}

.movie-searchbar-input-field {
    padding: 20px 0 30px 0;
}

.movie-searchbar-input-field>input {
    min-width: 320px;
    padding: 8px;
    border-radius: 8px;
    outline: none;
    border: none;
}

.movie-searchbar-input-field>button {
    padding: 8px 24px;
    border: none;
    border-radius: 12px;
    margin-left: 10px;
}

.movie-listing-filters {
    padding: 0 30px 20px 30px;
    background-color: rgb(42, 42, 42);
    border-radius: 16px;
}

.movie-listing-filters .filters-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
}

.filters-container .filters-rating-wrapper select,
.filters-container .filters-genre-wrapper select,
.filters-container .filters-year-wrapper select,
.filters-container .filters-country-wrapper select {
   padding: 8px; 
   max-width: 120px;
   border-radius: 0px;
   border: none;
}

.filters-container .filters-country-wrapper select {
    max-width: 180px;
 }


.filters-container .filters-rating-wrapper label {
    padding-right: 10px;
}

.filters-container .filters-genre-wrapper label,
.filters-container .filters-year-wrapper label {
    padding-right: 10px;
}

.filters-container .filters-year-wrapper span {
    padding-left: 10px;
    padding-right: 10px;
}

.filters-container .filters-country-wrapper label {
    padding-right: 10px;
}

/** BODY/CONTENT PAGE STYLING */
section {
    width: 85%;
    background-color: rgb(255, 255, 255);
}

.home-text-panel {
    max-width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    text-align: justify;
    line-height: 30px;
}

.home-text-panel p {
    padding: 10px;
}

.home-text-panel p a {
    color: #205477;
}

.home-text-panel p:last-child {
    text-align: center;
}

aside {
    width: 15%;
    background-color: rgb(15, 15, 15);
}

aside nav {
    padding: 20px;
}

aside nav ul {
    padding: 0;
}

aside nav ul li {
    list-style-type: none;
}

aside nav ul li button {
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 3px;
    margin-top: 3px;
    text-align: right;
    background-color: rgb(26, 26, 26);
    color: #e9dd77;
    font-family: 'Oxanium', sans-serif;
    font-size: 18px;

}


#btn-apply-filters {
    padding-left: 24px;
    padding-right: 24px;
    border: none;
    border-radius: 12px;
    margin-left: 10px;
}

#btn-list-rated,
#btn-list-favourites {
    color: #6dc5ff;
}

aside nav ul li button:hover {
    cursor: pointer;
    background-color: #e9dd77;
    color: #000;
}

#btn-list-rated:hover,
#btn-list-favourites:hover {
    background-color: #1a346d;
    color: #fff;
}

footer {
    background-color: rgb(7, 7, 7);
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
}

footer p {
    color: #fff;
    margin: 0;
    padding: 10px;
}

footer p a {
    color: #6dc5ff;
}

.footer-info {
    margin-bottom: 30px;
}

.content-panel {
    padding: 40px 60px;
}

.content-panel-heading {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    margin: 0;
}

.movie-cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

}

.movie-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 212, 212);
    border-radius: 16px;
    box-shadow: 0px 1px 16px 8px rgba(227, 227, 227, 1);
    padding: 8px;
    transition: all 0.3s;
}

.movie-card:hover {
    background-color: #ffae00;
    transform: scale(1.05);
    cursor: pointer;
}

.movie-card-poster img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.movie-card-info h3 {
    text-align: center;
    margin: 0;
    padding: 16px 20px;
}

.movie-card-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.movie-card-info .movie-rating {
    margin: auto;
    margin-bottom: 20px;
    background-color: black;
    color: #fff;
    padding: 8px 24px;
    border-radius: 32px;
}

.movie-meta-data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 2px;
}

.movie-meta-data>* {
    padding: 6px 12px;
    border-radius: 24px;
    font-size: 12px;
}

.movie-country {
    background-color: rgb(233, 221, 117);
    color: black;
}

.movie-genre {
    color: #fff;
    background-color: rgb(58, 86, 129);
}

.movie-release-year {
    background-color: rgb(20, 20, 92);
    color: #fff;
}

.search-error {
    text-align: center;
}

/** MOVIE DETAIL PAGE */
.back-to-listing {
    margin-left: 5px;
    border: none;
    background-color: #ffffff;
    font-family: 'Oxanium';
    font-size: 16px;
    margin-bottom: 12px;
}
.back-to-listing i {
    padding-right: 10px;
}
.back-to-listing:hover{
    cursor: pointer;
    text-decoration: underline;
}

.movie-details-container {
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    gap: 20px;
}

.movie-details-img {
    padding: 10px;
    min-width: 420px;
    max-width: 420px;
}

.movie-details-img img {
    width: 100%;
    box-shadow: 3px 6px 9px 2px rgba(0,0,0,0.3);
}

.movie-details-info {
    padding: 3px;
    width: 800px;
}

.movie-details-info h2 {
    margin: 0;
    padding: 0;
    font-size: 32px;
}

.movie-details-info h3 {
    margin-bottom: 20px;
}

.movie-details-row, .movie-details-genres {
    margin-bottom: 30px;
}

.movie-details-rating,
.movie-details-user-rating,
.movie-details-favourites,
.movie-details-row,
.movie-details-genres,
.movie-details-metadata,
.movie-details-original-title-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie-details-row,
.movie-details-genres,
.movie-details-metadata {
    gap: 30px;
}

.movie-details-rating,
.movie-details-user-rating,
.movie-details-favourites {
    gap: 10px;
}

.movie-details-original-title-wrapper {
    margin-bottom: 30px;
    gap: 50px;
}

.movie-details-rating p,
.movie-details-user-rating p,
.movie-details-favourites p,
.movie-details-original-title-wrapper p {
    margin: 0;
    padding: 0;
}

.movie-details-rating>div,
.movie-details-favourites>div {
    color: #fff;
    background-color: #111;
    border-radius: 50%;
    padding: 15px 10px;
    box-shadow: 2px 3px 14px -2px rgba(0, 0, 0, 0.75);
}

.movie-details-user-rating {
    padding-left: 8px;
}

.movie-details-user-rating .movie-details-rating-panel {
    padding-top: 15px;
}

.movie-details-rating-panel i {
    font-size: 24px;
    color: #999;
    padding-left: 1px;
    padding-right: 1px;
}

.movie-details-rating-panel .active {
    color: #e7bd00;
}

.movie-details-favourites>div i {
    font-size:24px;
    padding-left: 10px;
    padding-right: 10px;
}

.movie-details-genre {
    color: #fff;
    background-color: rgb(28, 44, 68);
    padding: 4px 18px;
}

.movie-details-favourites>div:hover {
    cursor: pointer;
    color: rgb(163, 0, 0);
} 

.rating-high {
    border: 5px solid #047400;
}

.rating-medium {
    border: 5px solid #e2cc00;
}

.rating-low {
    border: 5px solid #a70000;
}

.movie-details-rating p,
.movie-details-user-rating p {
    padding-top: 20px;
}

.movie-details-metadata {
    gap: 0;
    justify-content: space-between;
}

.movie-details-metadata>* {
    min-width: 25%;
    margin: 0;
}

.movie-details-authors {
    margin-top: 30px;
}

.movie-details-original-title {
    margin-top: 0;
}

hr {
    margin-top: 0;
    margin-bottom: 8px;
    border: 0;
    height: 1px;
    background: rgb(44, 44, 44);
}

/** PAGINATION */
.pagination {
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
}

.pagination>button {
    padding: 8px 12px;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgb(194, 194, 194);
    background-color: rgb(231, 238, 245);
    color: #666;
    box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.25);
}

.pagination>button:hover {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
    transition: 0.1s ease-out;
}

.pagination>.active {
    border: 1px solid rgb(36, 92, 112);
    background-color: rgb(82, 114, 204);
    color: rgb(255, 255, 255);
}

/** SPINNER */
.spinner {
    border: 8px solid rgb(73, 125, 184);
    border-top: 8px solid #ccc;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
    margin: auto;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg);
    }
}

/** RESPONSIVE QUERIES */

@media screen and (max-width: 1440px) {
    .content-panel {
        padding-left: 30px;
        padding-right: 30px;
    }

    .movie-card {
        width: 200px;
    }

    .movie-cards-wrapper {
        gap: 10px;
    }


    .movie-details-row,
    .movie-details-genres,
    .movie-details-metadata {
        gap: 20px;
    }

    .movie-details-rating,
    .movie-details-user-rating,
    .movie-details-favourites {
        gap: 10px;
    }

    .movie-details-original-title-wrapper {
        margin-bottom: 30px;
        gap: 30px;
    }
}


@media screen and (max-width: 1200px) {
    aside {
        width: 20%;
    }

    section {
        width: 80%;
    }

    .content-panel {
        padding-left: 10px;
        padding-right: 10px;
    }

    .movie-card {
        width: 180px;
    }

    .movie-meta-data {
        gap: 6px;
    }

    .movie-meta-data>* {
        padding: 4px 8px;
    }

    .movie-card-info .movie-rating {
        padding: 4px 16px;
        border-radius: 32px;
    }

    .movie-details-img {
        min-width: 300px;
        max-width: 300px;
    }

    #btn-apply-filters {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media screen and (max-width: 1024px) {
    .movie-card {
        width: 160px;
    }

    .content-panel-heading {
        padding-top: 10px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 960px) {
    .movie-card {
        width: 250px;
    }

    .filters-container .filters-genre-wrapper label {
        padding-left: 0;
    }

    .filters-container .filters-year-wrapper label {
        padding-left: 0;
    }

    main {
        flex-direction: column;
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    section {
        width: 100%;
    }

    aside nav {
        padding-top: 0;
        padding-bottom: 0;
    }

    aside nav ul li {
        display: inline-block;
    }

    aside nav ul li button {
        text-align: center;
    }
}


@media screen and (max-width: 840px) {
    .movie-card {
        width: 225px;
    }
}

@media screen and (max-width: 720px) {
    .movie-details-container {
        flex-wrap: wrap;
    }

    .movie-details-img {
        width: 100%;
    }

    .movie-details-info {
        width: 100%;
    }
}


@media screen and (max-width: 580px) {
    .movie-card {
        width: 280px;
    }
}