body {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  padding: 8px;
  margin: 4px;
  border: none;
  background-color: rgb(232, 232, 232);
}

.button:hover {
  background-color: bisque;
  cursor: pointer;
}
