body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

h1 {
    font-size: xx-large;
    box-shadow: 20px 20px 60px #220f7970,
        -20px -20px 60px #e10dda70;
    line-height: 80px;
}

h2 {
    font-size: x-large;
    box-shadow: 20px 20px 60px #220f7970,
        -20px -20px 60px #f5a8f270;
    line-height: 50px;
    font-style: italic;
}

button {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    font-size: x-large;
    font-style: italic;
    padding: 10px;
    height: 50px;
    color: rgb(239, 239, 239);
    box-shadow: rgba(179, 112, 255, 0.2) 0 15px 30px -5px;
}

button:hover {
    cursor: pointer;
    box-shadow: inset 20px 20px 60px #220f7970,
        inset -20px -20px 60px #e10dda70;
}

.mainContainer {
    display: flexbox;
    justify-content: center;
    text-align: center;
    align-items: top;
    height: 100%;
    padding: 0px;
}

.headingsContainer {
    padding-top: 20px;
    padding-bottom: 20px;

    width: 100%;
    line-height: 50px;

}

.categoriesContainer {
    display: grid;
    grid-gap: 20px;
    text-align: center;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;

}

.category {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    font-size: x-large;
    padding: 20px;
    margin-top: 20px;
    width: 200px;
    height: 250px;
    color: rgb(239, 239, 239);
    box-shadow: rgba(179, 112, 255, 0.2) 0 15px 30px -5px;
}

.category:hover {
    cursor: pointer;
    box-shadow: inset 20px 20px 60px #220f7970,
        inset -20px -20px 60px #e10dda70;
}

.pictureContainer {
    height: 402px;
}

.unclickable {
    pointer-events: none;
}

.correct {
    background-color: green
}

.incorrect {
    background-color: rgb(128, 0, 0)
}

.finished {
    pointer-events: none;
}

.answersContainer {
    display: grid;
    grid-gap: 20px;
    text-align: center;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;

}

.answer {
    font-size: x-large;
    width: 400px;
    height: 100px;
}

.questionsContainer {
    display: grid;
    grid-gap: 20px;
    text-align: center;
}

.scoreButton {
    margin: 50px;
    width: 1300px;
}