/* MAIN CSS - LAYOUT STUCTURE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: "Libre Franklin", "Trebuchet MS", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial;
    background-color: #F5F5F5;
}

header {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    padding-top: 1.5rem;
    min-height: 7rem;
}

nav {
    max-width: 1440px;
    margin-right: auto;
    margin: 10px;
    margin-left: 0px;
}

ul {
    list-style: none;
}

nav li {
    text-decoration: none;
    margin: 0;
    padding: 0;
    float: left;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2.5;
    padding-left: 0;
    padding-right: 1.75rem;
    text-decoration: underline;
    text-underline-offset: 5px;
}

a {
    color: #000;
    text-decoration: underline;
    text-underline-offset: 5px;
}

a:hover,
a:active {
    color: #e67e22;
    text-decoration: none;
}

table {
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #fee0c6;
    text-align: left;
}

th,
td {
    border: 1px solid;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
}

tr:hover {
    background-color: rgb(188, 188, 188);
}

h1 {
    font-style: none;
}

h2, h3, h4 {
    margin: 20px 0px 10px 0px;
}

main {
    max-width: 1440px;
    min-height: calc(100vh - 102px);
    margin: auto;
}

footer {
    bottom: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 1440px;
    font-size: .95rem;
    margin: 10px auto 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer ul {
    float: left;
    margin-right: 10px;
}

.site-description p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.site-description ul {
    margin: 10px;
}

.site-description>ul li a {
    text-decoration: underline;
}

.wallpaper {
    background-image: url(../img/wallpaper.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: auto;
    background-clip: border-box;
    min-height: 20rem;
    text-align: center;
    border: 1px solid;
}

.wallpaper h1,
.wallpaper h2 {
    font-style: italic;
    padding-top: 7rem;
    margin: auto;
    color: #fff;
    font-size: 4rem;
    font-weight: 900;
}

.main-wrapper {
    margin: 15px auto 15px auto;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}

.points {
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.points p {
    padding-bottom: 1rem;
}

.points h3 {
    padding-bottom: 1rem;
}

.points ul {
    line-height: 2;
    list-style: circle;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.points a {
    text-decoration: underline;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: rgb(232, 232, 232);
    margin: auto;
}

.faq {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    font-size: 1.25rem;
}

.answer {
    margin-left: 10px;
    float: left;
}

.answer p {
    padding-bottom: 1rem;
}

.answer ul {
    margin: 10px;
}

.add-disc {
    list-style-type: disc;
}

.answer ul li a {
    text-decoration: underline;
}

.faq-wrapper {
    display: grid;
    grid-template-columns: 100%;
}

.category-table {
    margin: 1rem;
}

.category-table th,
.category-table td {
    border-bottom: 1px solid;
}

.faq-wrapper div {
    margin-right: 10px;
}

.printer-layout {
    display: grid;
    grid-template-columns: 100%;
    margin: 0px 0px 20px 0px;
    padding: 0;
}

.printer-wallpaper {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.printer-wallpaper img {
    min-width: 50%;
    min-height: 50%;
}

.printer-description {
    margin: 10px 50px 10px 50px;
}

.printer-description ul li,
.printer-description p {
    margin: 20px 20px 20px 0px;
    line-height: 2;
}

.printer-description h2
/*.printer-description h3,
.printer-description div*/ {
    margin: 10px;
}

.printer-row,
.printer-row-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.printer-table {
    margin: 10px 0px 20px 10px;
    overflow-x: auto;
}

.preorder {
    width: 100%;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
    color: #e67e22;
    border: 1px solid #e67e22;
    background-color: #fee0c6;
}

.filament-row {
    height: 100%;
    margin-right: 10px;
}

.filament-container {
    width: 100%;
    height: 100%;
    background-color: #E8E8E8;
}

.filament-container h3,
.filament-container h4 {
    margin: 20px;
    padding-top: 20px;
}

.filament-container>ul li {
    margin: 20px;
}

.filament-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
}

.filament-faq-list {
    margin: 10px;
}

.filament-faq-list>li a {
    text-decoration: underline;
}

.filament-description>p {
    margin: 10px 0px 10px 0px;
}

.author-info {
    display: grid;
    grid-template-columns: 20% 80%;
}

.author-photo {
    display: flex;
    resize: both;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.author-photo img {
    flex-shrink: 100;
    min-width: 100%;
    min-height: 100%;
    border-radius: 10%;
    border: 1px solid;
}

.additional-info,
.additional-info p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.author-contact {
    margin: 20px;
}

.author-contact a {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.filament-video iframe {
    width: 560px;
    height: 315px;
}

@media screen and (max-width: 1024px) {
    nav ul li {
        margin: 10px 0px 10px 10px;
    }

    footer {
        margin: 10px 0px 10px 10px;
    }

    .author-contact {
        margin: 10px;
    }

    .printer-description {
        margin: 10px;
    }

    .printer-description h2 {
        margin-left: 0px;
    }

}

@media screen and (max-width: 1170px) {
    .wallpaper h2 {
        padding-top: 4rem;
    }

    nav {
        margin-left: 10px;
    }

    nav ul li {
        margin: 10px 0px 10px 0px;
    }

    .site-description {
        margin: 10px;
    }

    footer {
        margin: 10px 0px 10px 10px;
    }

    .author-info {
        display: flex;
        max-width: 100%;
    }

    .author-photo {
        max-width: 30%;
    }

    .author-contact {
        width: 100%;
    }

    .author-contact {
        margin: 10px;
    }

    .printer-description h2 {
        margin-left: 0px;
    }

    .printer-table {
        margin: 10px 10px 20px 10px;
        overflow-x: auto;
    }
}

@media screen and (max-width: 720px) {

    .grid-layout {
        display: grid;
        grid-template-columns: 100%;
    }

    .wallpaper h1,
    .wallpaper h2 {
        padding-top: 0px;
    }

    .points {
        margin-right: 0px;
    }

    nav ul li {
        line-height: 1;
        float: none;
        margin: 10px 0px 10px 0px;
    }

    footer {
        display: grid;
        grid-template-columns: 100%;
    }

    nav {
        margin-left: 10px;
    }

    .printer-row,
    .printer-row-left {
        display: grid;
        grid-template-columns: 100%;
    }

    .printer-row-left > div:nth-child(1) {
        flex: 1;
        order: 2;
        width: 100%;
        height: auto;
    }

    .filament-layout {
        display: block;
    }

    .filament-row h4 {
        margin: 10px;
    }

    .main-wrapper h1,
    .main-wrapper h2
    /*.main-wrapper h3*/ {
        margin: 10px;
    }

    .filament-description>p {
        margin: 10px;
    }

    /*
    .printer-wallpaper {
        display: none;
    }*/

    div.printer-layout > div:nth-child(1) div.printer-description h3 {
        margin-top: 0px;
    }

    .preorder {
        width: 100%;
    }

    footer {
        margin: 10px 0px 10px 10px;
    }

    .author-info {
        display: flex;
        max-width: 100%;
        margin: 10px;
    }

    .author-photo {
        max-width: 50%;
    }

    .author-contact {
        width: 100%;
    }

    .author-contact ul {
        margin: 10px;
    }

    .additional-info {
        margin: 10px;
    }

    .printer-description p {
        line-height: 2;
    }

    .site-description {
        margin: 10px;
    }

    .printer-description ul li,
    .printer-description p {
        margin: auto;
        line-height: 2;
    }

    /*.printer-description h2,*/
    .printer-description div {
        margin: 0px;
    }

    .printer-table {
        margin: 10px 10px 20px 10px;
        overflow-x: auto;
    }

    .filament-video iframe {
        width: auto;
        height: auto;
        margin: 10px;
    }

}

@media print {

    img,
    header,
    footer {
        display: none;
    }

    .separator {
        display: none;
    }

    .wallpaper {
        background-image: none;
        background-image: url(../img/wallpaper.webp);
        background-repeat: none;
        background-position: none;
        background-attachment: none;
        background-size: none;
        background-clip: none;
        min-height: 0px;
        border: 0px;
    }

    .wallpaper h2 {
        text-align: left;
        font-style: normal;
        margin: 0px;
        color: #000;
        font-size: 1.25rem;
        font-weight: 700;
    }

    body,
    .points,
    main {
        margin: 0;
        padding: 0;
    }

    .grid-layout {
        display: grid;
        grid-template-columns: 100%;
        margin: 0px;
    }

    .printer-row,
    .printer-row-left {
        display: block;
    }

    .printer-description {
        margin: 10px;
    }

    .printer-description p {
        line-height: 2;
    }

    .site-description {
        margin: 10px;
    }

    .printer-description ul li,
    .printer-description p {
        margin: auto;
        line-height: 2;
    }

    .printer-description h2,
    .printer-description div {
        margin-left: 0px;
    }

    .printer-table {
        margin: 10px 10px 20px 10px;
        overflow-x: auto;
    }

    .printer-wallpaper {
        display: none;
    }

    table {
        font-size: 10px;
    }

    .filament-video {
        display: none;
    }

    .filament-layout {
        display: block;
    }

    .filament-row h4 {
        margin: 10px;
    }

    .main-wrapper h1,
    .main-wrapper h2,
    .main-wrapper h3 {
        margin: 10px;
        margin-left: 0px;
    }

    .filament-description>p {
        margin: 10px;
    }

    .author-info {
        display: flex;
        max-width: 100%;
    }

    .author-photo {
        display: none;
    }

    .author-contact {
        width: 100%;
        margin: 10px;
    }

    .additional-info {
        margin: 10px;
    }
}