* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate (-20%, -20%);
    background: rgb(86, 5, 172);
}

footer {
    font-family: 'Poppins', sans-serif;
    height: 60px;
    padding-top: 20px;
    text-align: center;
    display: block;
    position: bottom;
    width: 100%;
}