* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: purple;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Bangers', cursive;
}  
#player, #babis, #cat1, #cat2, #cat3, #blood, #bullet{
    display: none;
}
#difficulty-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}
label {
    font-size: 18px;
    margin-bottom: 10px;
}
select {
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}
button[type="submit"] {
    width: 150px;
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #1251c6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    text-align: center;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.start-button {
    background-color: green;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 26px;
    width: 225px;
    height: 75px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.start-button:hover {background-color: #2e9e0c}
button[type="submit"]:hover {background-color: #12accf}