* {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.content-home ul li {
    display: list-item;
    list-style-position: outside;
    list-style: disc;
    font-size: 14px;
    line-height: 22px;
    color: #7c7c7c;
    text-align: justify;
}

section {
    min-width: 200px;
    width: 100%;
    margin: 0px auto;
    position: relative;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    background-color: yellow;
    margin-bottom: 50px;
    position: fixed;
    z-index: 1000;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4987c4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: orange;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*header.active{
  background:green;
  color:#fff;
}*/

main {
    display: flex;
    max-width: 900px;
    padding-top: 150px;
    height: auto;
    margin: 0 auto;
}

.logo {
    font-weight: bold;
    float: left;
    font-size: 24px;
    padding: 20px 0px;
}

.logo span {
    color: black;
}

nav {
    width: auto;
    float: right;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li:last-child {
    padding-right: 0px;
}

nav ul li a {
    color: #002e5b;
    font-size: 18px;
    padding: 25px 20px;
    display: inline-block;
    transition: all 0.5s ease 0s;
}

nav ul li a:hover {
    background-color: orange;
    color: white;
    transition: all 0.5s ease 0s;
}

nav ul li a:hover i {
    color: #fde428;
    transition: all 0.5s ease 0s;
}

nav ul li a i {
    padding-right: 10px;
    color: #002e5b;
    transition: all 0.5s ease 0s;
}

.nav-scrolled {
    color: rgba(219, 219, 10, 0.639);
    background-color: rgba(249, 249, 184, 0.6);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.toggle-menu span {
    background: white;
    display: block;
    border-radius: 6px;
    position: relative;

    flex-wrap: wrap;
    padding: 7px;
    width: 50%;
    margin-bottom: 4px;
}

input[type=checkbox],
label {
    display: none;
}

.main-about {
    display: flex;
    flex-direction: column;
}

.main-about h1 {
    margin-bottom: 50px;
    text-align: center;
}

img {
    width: 400px;
}

#imgAbout {
    float: right;
    padding-left: 30px;
}

#imgKanban {
    float: left;
    padding-right: 30px;
}

#imgToday {
    float: right;
    padding-left: 30px;
}

#imgHelp {
    float: left;
    padding-right: 30px;
}

#textKanban {
    margin-top: 100px;
}

.content-home {
    margin-bottom: 60px;
    padding: 15px;
}

.content-home .textAbout {
    margin-top: 120px;
}

.content-intro {
    padding: 50vh 0;
    background: rgb(43, 82, 121) url(./Aplikace.PNG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    text-align: center;
    width: 850px;
    top: 100px;
}

.content-home h2 {
    font-size: 18px;
    font-weight: 500;
    color: #002e5b;
    border-bottom: 2px solid yellow;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.content-home p {
    font-size: 14px;
    line-height: 22px;
    color: #7c7c7c;
    text-align: justify;
}

.content-download {
    margin-right: 100px;
    margin-top: 100px;
}

.content-download h1 {
    font-size: 18px;
    font-weight: 500;
    color: #002e5b;
    border-bottom: 2px solid yellow;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.content-download p {
    font-size: 14px;
    line-height: 22px;
    color: #7c7c7c;
    text-align: justify;
}

.social {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.social li {
    float: left;
    padding: 0px 10px;
}

.social li a {
    color: #002e5b;
    transition: all 0.5s ease 0s;
}

.social li a:hover {
    color: #fde428;
    transition: all 0.5s ease 0s;
}

@media only screen and (max-width: 1440px) {
    section {
        max-width: 95%;
    }

    .container-home {
        column-count: 3;
    }
}

@media only screen and (max-width: 980px) {
    .content-home {
        width: 60%;
    }

    header {
        padding: 20px 0px;
    }

    .logo {
        padding: 0px;
    }

    input[type=checkbox] {
        position: absolute;
        top: -9999px;
        left: -9999px;
        background: none;
    }

    input[type=checkbox]:fous {
        background: none;
    }

    label {
        float: right;
        padding: 8px 0px;
        display: flex;
        cursor: pointer;
    }

    input[type=checkbox]:checked~nav {
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        right: 0px;
        top: 53px;
        background-color: #002e5b;
        padding: 0px;
        z-index: 99;
    }

    nav ul {
        width: auto;
    }

    nav ul li {
        float: none;
        padding: 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    nav ul li a {
        color: #FFF;
        font-size: 15px;
        padding: 10px 20px;
        display: block;
        border-bottom: 1px solid rgba(225, 225, 225, 0.1);
    }

    nav ul li a i {
        color: #fde428;
        padding-right: 13px;
    }

    .container-home {
        display: block;
        column-count: 2;
    }
}

@media only screen and (max-width: 568px) {
    h1 {
        padding: 25px 0px;
    }

    h1 span {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    section {
        max-width: 90%;
    }
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 20px;
    }

    label {
        padding: 5px 0px;
    }

    .logo {
        font-size: 20px;
    }

    nav {
        top: 47px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        padding: 20px 0px;
    }
}

@media print {
    * {
        color: black;
    }

    .content-intro {
        padding: 0;
    }

    .content h2 {
        border-bottom: none;
    }

    img {
        visibility: hidden;
    }

    .content-home h2 {
        border-bottom: none;
    }

    .content-download h1 {
        border-bottom: none;
    }
}

@media only screen {
    .spin-container {
        text-align: center;
        margin-top: 0px;
        align-items: center;
        padding: 10px;
        cursor: pointer;
    }

    .spin {
        margin: 0 auto;
        border-radius: 50%;
    }

    #spinner {
        border: 10px solid orange;
        width: 300px;
        height: 300px;
        position: relative;
        border-right-color: transparent;
        border-left-color: transparent;
        animation: spinning 2s ease infinite;
    }

    #spinner2 {
        border: 10px solid yellow;
        width: 260px;
        height: 260px;
        position: relative;
        top: -300px;
        border-top-color: transparent;
        border-bottom-color: transparent;
        animation: spinning 3s ease infinite;
    }

    #spinner3 {
        border: 10px solid rgb(247, 209, 137);
        width: 220px;
        height: 220px;
        position: relative;
        top: -560px;
        border-right-color: transparent;
        border-left-color: transparent;
        animation: spinning 4s ease infinite;
    }

    #spinner4 {
        border: 10px solid rgb(250, 250, 190);
        width: 180px;
        height: 180px;
        position: relative;
        top: -780px;
        border-top-color: transparent;
        border-bottom-color: transparent;
        animation: spinning 6s ease infinite;
    }

    #text {
        color: orange;
        font-family: Arial;
        font-size: 25px;
        position: relative;
        top: -900px;
    }

    footer {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 30px;
        background-color: orange;
        padding: 50px;
        text-align: center;
        color: white;
    }

    #footerNews {
        margin-top: 76px;
    }

    #footerSupport {
        margin-top: 155px;
    }
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}