h1 {
    background-color: blueviolet;
}

.notebooks {
    height: 200px;
    position: relative;
    border: 3px solid green;
    display: flex;
    flex-direction: column;
      justify-content: center;
      align-items: center;
}