* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: beige;
    margin: 0 auto;
}

header {
    background-color: lightblue;
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
}

footer {
    color: black;
    background-color: lightblue;
    border-radius: 5px;
    gap: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    align-self: flex-end;
}

nav {
    border-radius: 5px;
    height: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 5px;
}

nav :nth-child(2) {
    background-color: grey;
}

nav a {
    border-radius: 5px;
    background-color: darkgrey;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 5px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 18px;
}

nav :hover {
    background-color: grey;
    transition: 0.5s ease;
}

table {
    width: 100%;
    margin: 10px 5px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    max-width: 430px;
    padding-left: 5px;
    font-size: 16px;
}

.dropdown button {
    font-size: 16px;
    background-color: beige;
    border: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown span {
    font-size: 14px;
}

table td {
    font-size: 20px;
    padding: 5px;
    border-bottom: 2px solid;
}

table th {
    font-size: 24px;
}

@media screen and (min-width: 1024px) {
    body {
        max-width: 1024px;
        display: grid;
        grid-template-areas:
            'header header header'
            'aside main main'
            'aside footer footer';
        gap: 5px;
    }

    header {
        grid-area: header;
        height: 100px;
    }

    aside {
        grid-area: aside;
        height: 100%;
        min-height: 255px;
        width: 185px;
    }

    main {
        width: 834px;
        grid-area: main;
        height: 80%;
    }

    footer {
        grid-area: footer;
        height: 100px;
    }
}

@media screen and (min-width: 500px) and (max-width: 1024px) {
    body {
        display: grid;
        grid-template-areas:
            'header header '
            'aside main'
            'aside footer ';
        gap: 5px;
    }

    header {
        grid-area: header;
        height: 100px;
    }

    aside {
        grid-area: aside;
        height: 100%;
        min-height: 255px;
        width: 185px;
    }

    main {
        max-width: 834px;
        grid-area: main;
    }

    footer {
        grid-area: footer;
        height: 100px;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    body {
        max-width: 100%;
        display: grid;
        grid-template-areas:
            'header'
            'aside'
            'main'
            'footer';
        gap: 5px;
    }

    header {
        grid-area: header;
        height: 100px;
    }

    aside {
        grid-area: aside;
        height: 100%;
        min-height: 255px;
    }

    main {
        width: 100%;
        grid-area: main;

    }

    footer {
        grid-area: footer;
        height: 100px;
    }
}

@media print {

    body,
    main,
    aside,
    footer,
    nav {
        background-color: white;
        color: black;
    }

    nav {
        flex-direction: row;
    }

    main {
        margin-bottom: 10px;
    }

    .dropdown-content {
        display: inline-block;
        position: relative;
    }
}