@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
    background-color: #ecf5ff;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat" sans-serif;
    color: rgb(37, 36, 36);
}

h1,
h2,
h3,
h4{
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    margin-bottom: 5rem;
    color: #1a2a3b;
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2{
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

.container {
    width: 100vw;
    max-width: 80rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.button {
    width: 20rem;
    background-color: rgb(26, 42, 59);
    opacity: 0.9;
    font-size: 1.8rem;
    text-align: center;
    color: #ecf5ff;
    text-decoration: none;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(26, 42, 59);
    opacity: 1;
    transform: translateY(-0.1rem);
}