/* externi css (ANO) */
.section-heading {
    /* color: green; */
    color: rgb(25, 50, 200);
    color: #abcdef;
    font-style: italic;
    text-decoration: underline;
}
h3 {
    background-color: aqua;
}
h3.article-heading {
    font-weight: normal;
}
#my-container {
    background-color: violet;
}
#my-container {
    background-color: yellow;
}
.container {
    background-color: red;
}
[id="my-container"] {
    background-color: violet;
}

.products > * {
    font-family: Arial;
}

.products li {
    color: blue;
}