
* {
    box-sizing: border-box;
}
.container {
    width: 400px;
    height: 300px;
    background-color: pink;
    padding: 10px;
    border: 20px solid red;
}

.wrapper {
    padding: 20px;
    background-color: whitesmoke;
}
header {
    padding: 40px;
    background-color: blue;
}
main {
    display: flex;
}
aside {
    width: 20%;
    padding: 50px;
    background-color: orange;
}
.content {
    padding: 50px;
    background-color: gray;
    flex-grow: 1;
}
footer {
    padding: 40px;
    background-color: green;
}