h1 {
text-align: center;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

label {
    margin-bottom: 5px;
    display: block;
    font-size: 20px;
}

main {
    max-width: 870px;
    margin: auto;
}

button {
    background-color: lightgray;
    border-radius: 24px;
    border-style: none;
    font-size: 14px; 
    font-weight: 500;
    height: 30px;
    width: 80px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

.box-wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.box-wrapper .box:not(:last-child) {
    margin-bottom: 10px;
}

.box-wrapper .box {
    padding: 20px;
    background-color: yellow;
    border-radius: 15px;
}

.box-wrapper .box > div:not(:last-child) {
    margin-bottom: 10px;
}