body {
    font-family: sans-serif;
    margin: 0 50px;
    background-color: #e5e5e5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    background-color: #fff;
    width: 300px;
    height: 500px;
    border: 5px solid orange;
    border-radius: 8px;
    padding: 15px;
    overflow-y: scroll;
}

.app::-webkit-scrollbar {
    width: 0 !important;
}

#login-button {
    padding-left: 170px;
    cursor: pointer;
}

#addNewTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 163);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-plus {
    background-color: orange;
    padding: 3px;
    border-radius: 3px;
}

#tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

#tasks div {
    border: 3px solid orange;
    background-color: rgb(255, 255, 163);
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
}

#tasks .hide {
    display: none;
}

#tasks div .options {
    justify-self: center;
    display: flex;
    gap: 20px;
}

#tasks div .options i {
    cursor: pointer;
}

.errorMessage {
    color: red;
}

.search-wrapper {
    max-width: 230px;
    margin-left: 15px;
}

.search-wrapper .search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
    margin-bottom: 15px;
}

.search-input input {
    height: 30px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 16px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #efefef;
}

.search-input .icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: orange;
    cursor: pointer;
}