<div>
    <h1>Welcome to the PrivateCloud</h1>
    <h2>File cloud for personal server</h2>
    <nav-link text='Login page' href='./login'></nav-link>
    <nav-link text='Check out example' href='./files'></nav-link>
    <p>This app was created as coursework by Dmitrii Shpagin.</p>
    <p>For personal use.</p>
</div>