/************************************************/
/** Header */
header {
    background-image: url("../img/header/header-city-parts.png");
    background-size: cover;
    background-position: 10% 20%;
}

/************************************************/
/** Body */
.brick {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

section:nth-child(2) {
    background-color: #1f1f1f;
}

section:nth-child(4) {
    background-color: #8a8a8a;
}

section .row {
    display: flex;
    flex-wrap: wrap;
}

.row {
    margin: 0 auto;
    max-width: 990px;
}

.row .wrapper-text {
    width: 50%;
}

.row .wrapper-img {
    width: 50%;
    padding: 20px;
}

.wrapper-img .container-images {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-images img {
    margin-bottom: 6px;
}

.wrapper-img img,
.wrapper-img .container-images img {
    max-height: 100%;
    max-width: 100%;
}

/************************************************/
/** Responsive */

@media screen and (max-width: 980px) {
    section {
        padding-left: 40px;
        padding-right: 40px;
    }

    .row .wrapper-img, .row .wrapper-text {
        width: 100%;
    }

    .row .wrapper-text p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 760px) {
    .wrapper-img, .wrapper-text {
        width: 100%;
    }
}

/************************************************/
/** Print */

@media print {
    section {
        margin: 0;
        padding: 0;
    }

    .brick {
        padding: 0;
    }

    .row .wrapper-text {
        width: 65%;
    }
    
    .row .wrapper-img {
        width: 35%;
    }

    section:nth-child(3) {
        margin-top: 200px;
    }
}