* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    max-height: 800px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b3c0c4;
}

.header {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container {

    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    max-width: 1280px;
    max-height: 720px;
    background-image: url(../resources/logo.jpg);
    background-repeat: no-repeat;
    background-size: auto 100px;
    background-position: 30% 20px;
    background-color: #333;
    border-radius: 10px;
}

h1 {
    text-align: center;
    min-width: 100%;
    color: white;
    font-size: 2vw;
}

h2 {
    text-align: center;
    min-width: 100%;
    color: white;
    font-size: 2vw;
}

label {
    color: white;
    font-size: 1vw;
}

.line {
    height: 4vw;
    min-width: 100%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-row {

    width: 100%;
}

.game-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
    min-height: 10vw;
    background-color: #333333;
}

.game-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    margin: 10px;
    background-color: #333333;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #999999;
}

.game-item img {
    margin-bottom: 10px;
    width: 15vw;
    height: 8vw;
    border-radius: 5px;
}

.user-game-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    margin: 10px;
    background-color: #333333;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #999999;
}

.user-game-item img {
    width: 15vw;
    height: 8vw;
}

.user-game-item button {
    margin-top: 10px;
    background-color: rgb(180, 150, 93);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1vw;
}

.game-item button {
    margin-top: 10px;
    background-color: rgb(180, 150, 93);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1vw;
}

p {
    font-size: 1vw;
    color: aliceblue;
}

#random-games-container {
    display: flex;
    padding-top: 10px;
    max-width: 100vw;
    justify-items: center;
    background-color: #736f6f;
    border-radius: 10px;
}

#user-games-container {
    display: flex;
    position: relative;
    justify-items: center;
    background-color: #736f6f;
    border-radius: 10px;
}

.empty-text {
    font-size: 20px;
    font-weight: bold;
    color: #f99822;
    padding-left: 40%;

}

.no-results-text {
    font-size: 20px;
    font-weight: bold;
    color: #f99822;
    padding-left: 30%;
}

.spinner {
    position: absolute;
    padding-left: 47%;

}

.spinner::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

input {
    width: 20vw;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1vw;
    text-align: center;
}
select {
    width: 8vw;
    font-size: 1vw;
}

#more-info-dialog {
    max-width: 800px;
    max-height: 600px;
    text-align: center;
    padding: 20px;
    background-color: #333;
}

#more-info-dialog img {
    width: 300px;
    height: 170px;
}

footer {
    background-color: #333;
    font-size: 12px;
    border-radius: 10px;
}

footer p {
    font-size: 12px;
}