* {
    box-sizing: border-box;
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: "header"/* "subheader"*/ "content" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

h1 {
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
}

h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.5px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
}

h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.25px;
}

h5 {
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0;
    color: rgba(33, 33, 33, 0.55);
}

p, span, table {
    line-height: 24px;
    font-weight: lighter;
}

ul {
    margin: 8px 0 16px;
}

li::marker{
    color: #e10032;
}

.highlight {
    color: #e10032;
    font-weight: normal;
}

header {
    grid-area: header;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
    line-height: 64px;
    background: #e10032;
    color: white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

#header-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 96px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

header h1 {
    margin: 0;
}

header div {
    cursor: pointer;
}

header a/*, .subheader a*/ {
    text-decoration: none;
    color: inherit;
}

nav/*, #subnav*/ {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    margin-left: auto;
}

header nav */*, .subheader #subnav **/ {
    user-select: none;
    padding: 8px;
    min-width: 64px;
    line-height: 48px;
    border-radius: 2px;
    text-align: center;
}

/*.subheader {*/
/*    grid-area: subheader;*/
/*    z-index: 999;*/
/*    width: 100%;*/
/*    background: #f1f1f1;*/
/*    border-bottom: solid 2px #e10032;*/
/*    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);*/
/*}*/

/*#subnav {*/
/*    justify-content: flex-end;*/
/*    padding: 16px;*/
/*    min-height: 96px;*/
/*    line-height: 64px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    max-width: 1200px;*/
/*}*/

header nav *:hover/*, .subheader #subnav *:hover*/ {
    background-color: rgba(0, 0, 0, .08);
}

main {
    grid-area: content;
    padding: 36px 16px;
    width: 100%;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main section:not(:first-child) {
    margin-top: 24px;
}

main *:first-child {
    margin-top: 0;
}

main *:last-child {
    margin-bottom: 0;
}

main #info-banner {
    margin-top: 12px;
    margin-bottom: 48px;
}

main #more-info {
    display: inline-block;
    padding: 16px;
    min-width: 64px;
    border-radius: 2px;
    border: solid 2px black;
    color: black;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 24px;
}

main section a:hover {
    border-color: #e10032;
    color: #e10032;
}

main section a > * {
    margin: 0;
    padding: 0;
}

main .image-section {
    display: flex;
    flex-flow: row;
    gap: 16px;
    text-align: initial;
}

@media screen and (max-width: 600px) {
    main .image-section {
        flex-flow: column;
    }
}

main #image-section-img {
    aspect-ratio: 1;
    object-fit: cover;
    width: 40%;
    height: 100%;
    flex-basis: 40%;
}

@media screen and (max-width: 600px) {
    main #image-section-img {
        width: 100%;
    }
}

main #image-section-text {
    flex-basis: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

main #image-section-text > * {
    margin-top: 0;
    margin-bottom: 0;
}

main #contacts {
    display: flex;
    gap: 24px;
    flex-flow: row wrap;
    justify-content: space-between;
}

main #contacts .contact-col {
    flex-basis: 30%;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

main #contacts .contact-col article h3 {
    margin-top: 16px;
    margin-bottom: 8px;
}

main #locations {
    display: flex;
    flex-flow: row;
    gap: 16px;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    main #locations {
        flex-flow: column;
    }
}

main #locations .location {
    margin-top: 0;
    flex-basis: 45%;
    border-radius: 4px;
    overflow: hidden;
}

main #locations .location * {
    text-decoration: none;
    color: black;
}

main #locations .location h4 {
    margin-top: 8px;
    margin-bottom: 8px;
}

main #locations .location .location-image-wrap {
    overflow: hidden;
    display: flex;
}

main #locations .location img {
    transition: 300ms;
    width: 100%;
}

main #locations .location:hover img {
    transform: scale(125%);
}

main #locations .location h3 {
    margin-bottom: 0;
}

main .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
}

@media screen and (max-width: 600px) {
    main .services {
        grid-template-columns: 1fr;
        grid-template-rows: none;
    }
}

main .services a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: white;
}

main .service-link {
    aspect-ratio: 16/10;
    background: center/cover;
    border-radius: 4px;
    overflow: hidden;
}

main .service-link#service-self {
    background-image: url("assets/bryan-burgos-vN0fQqkCbuo-unsplash.jpg");
}

main .service-link#service-kiosk {
    background-image: url("assets/parej-richard-F20_xtNvis4-unsplash.jpg");
}

main .service-link#service-distillery {
    background-image: url("assets/matt-hoffman-dctHPHih-sc-unsplash.jpg");
}

main .service-link#service-market {
    background-image: url("assets/johnny-martinez-lBIFDzYwbDo-unsplash.jpg");
}

main .service-link#service-seed {
    background-image: url("assets/zoe-schaeffer-tbiV-yc903g-unsplash.jpg");
}

main .service-link#service-jam {
    background-image: url("assets/yulia-khlebnikova-o_O75f28GiA-unsplash.jpg");
}

main .service-link#service-frozen {
    background-image: url("assets/angel-sinigersky-XGrTJnkgAVY-unsplash.jpg");
}

main .service-link#service-mulch {
    background-image: url("assets/paul-green-mGQfQe3EOBI-unsplash.jpg");
}

main .service-link#service-nonwoven {
    background-image: url("assets/ethan-bodnar-kgC99X3WH1w-unsplash.jpg");
}

main .service-link#service-irrigation {
    background-image: url("assets/benjamin-deyoung-sp8NJ0P2Lyo-unsplash.jpg");
}

main .service-link#service-fertilizer {
    background-image: url("assets/charles-c-collingwood-ke4IpOHbKC0-unsplash.jpg");
}

main .service-link .service-link-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.62);
    transition: background-color 250ms ease-in;
}

main .service-link:hover .service-link-wrapper {
    background-color: rgba(0, 0, 0, 0.84);
}

main #terms {
    text-align: start;
}

main #self-types {
    display: flex;
    flex-flow: row;
    gap: 16px;
}

@media screen and (max-width: 600px) {
    main #self-types {
        flex-flow: column;
    }
}

main #self-types > * {
    flex-basis: 50%;
}

main #self-types img {
    width: 100%;
}

main #self-types section {
    margin-top: 0;
}

main #self-faq h4 {
    margin-top: 24px;
    margin-bottom: 8px;
}

main #self-faq p {
    margin-top: 0;
}

main #kiosk {
    text-align: initial;
    line-height: 24px;
    font-weight: lighter;
}

main #distillery .image-section {
    margin-bottom: 24px;
}

main #distillery #image-section-img {
    max-height: 250px;
}

main table {
    width: 100%;
}

main table * {
    padding: 12px;
    background: #f1f1f1;
}

main #market {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 16px;
    text-align: initial;
    line-height: 24px;
    font-weight: lighter;
}

main #market > * {
    flex-basis: calc(25% - 12px);
    min-width: 200px;
}

main #market a {
    color: black;
}

main #market img {
    width: 100%;
}

footer {
    grid-area: footer;
    padding: 24px 16px 16px;
    background: rgba(36, 36, 36, 1);
}

footer * {
    color: white;
}

footer h4 {
    margin-top: 0;
}

#footer-content {
    display: grid;
    grid-template-areas: "quick-contact fin-info" "credits credits";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 24px 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

@media screen and (max-width: 600px) {
    #footer-content {
        grid-template-areas: "quick-contact" "fin-info" "credits";
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr;
    }
}


footer #contact {
    grid-area: quick-contact;
}

footer #fin-info {
    grid-area: fin-info;
}

footer #credits {
    grid-area: credits;
    text-align: center;
    color: white
}
