* {
    box-sizing: border-box;
}

.hidden {
    display: none;
    visibility: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body,
p,
h1 {
    margin: 0;
}

.main-wrapper {
    margin: 0 auto;
    width: 1024px;
    min-height: 100%;
}

.input {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: rgb(172, 172, 172);
    border-radius: 5px;
}

.input input {
    margin: 5px 0;
}

.input img {
    width: 192px;
    height: 192px;
    padding: 20px;
}

.input form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.input form {
    width: 25%;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile-image {
    width: 196px;
    height: 196px;
    margin: 15px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-info p {
    margin: 5px 0;
}

.description {
    background-color: rgb(172, 172, 172);
    height: 50px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.stats {
    display: flex;
    margin-top: 20px;
}

.stat {
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid grey;
}

.twitter-tweet {
    margin: 10px auto;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: auto;
    width: 100%;
}

.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #41a8ec; /* Blue */
  border-radius: 50%;
  width: 96px;
  height: 96px;
  margin: 20px auto;
  animation: spin 1.5s cubic-bezier(0.69, 0.24, 0.34, 0.89) infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.saved-users {
    overflow:auto;
    margin: auto 25px;
    width: 120px;
    height: 100px
}