@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*
{
    box-sizing: border-box;
    font-family: 'Quicksand';
    background-color: rgb(191, 131, 255);
}


body {
    
    overflow-x: hidden;
}


.layout {
    display: flex;
   max-width:1366px;
    margin: 0 auto;
    flex-wrap:wrap;
}


.main-header {
    width: 100%;
    display: flex;
    
    padding: 0px;
    font-size:1.2ch;
    text-align: center;
    order: 0;
    justify-content: center;
}


.menu {
    width: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    text-align: center;
   
    height: fit-content;
    
    border-left: 2px black solid ;
    border-bottom: 2px black solid ;
    border-top: 2px black solid ;
    
   
    
}

.menu-item {
    padding: 3px;
    margin-top: .5rem;
    width: 100%;
    cursor: pointer;
}
.menu-item:last-child{
    margin-bottom: 10px;
}

.menu-item:hover {
    color: #fff;
    background-color: rgba(255, 60, 154, 0.512);
    transition: ease .5s;
}


.main {
    
    width: 90%;
  
    height:fit-content;
    border-left: 2px black solid;
    border-right: 2px black solid;
    border-top: 2px black solid ;
    border-bottom: 2px black solid ;
   
    
    
}

.kpis:nth-child(1){
    margin-top: 30px;
   
}

.kpis {
   
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 10px;
   
    background-color: rgb(191, 131, 255);
    
    
}



.kpi-item {
    width: calc(25% - .375rem);
    
    
   
    height: max-content;
    cursor: pointer;
}



.kpi-item:last-child {
    margin-right: 0px;
    
}

.hidentext{
    visibility: hidden;
    
}

.kpi-item:hover{
    
   
    color: rgba(167, 10, 86, 0.99);
    transition: ease .1s;
  
    
    
}

.kpi-item:hover{
    
   
    transition: ease .5s;
    transform: scale(0.9);
   
    
}
.kpi-item:hover .hidentext{
    
    transition: ease .8s;
    visibility: visible;
    
}




.footer{
    display: flex;
      width: 100%;
      text-align: center;
      margin-top: 100px;
      margin-left: 40px;
     
  }
  
  .inst{
      margin-left: 100px;
      margin-right: 125px;
      cursor: pointer;
      margin-top: 25px;
  }
  
  
  
  .right{
      margin-left: 225px;
      margin-right: 225px;
      margin-top: 5px;
     
  }
  
  .tg{
  margin-right: 100px;
  margin-left: 125px;
  cursor: pointer;
  margin-top: 25px;
  }
  
  .twt{
      cursor: pointer;
      margin-top: 25px;
  }
  .fb{
      cursor: pointer;
      margin-top: 25px;
      margin-right: 20px;
  }