.container {
    display: flex;
    flex-direction: row;
}

.column {
    width: 49%;
}

.img_container {
    margin-right: 20%;
    margin-top: 15%;
    height: 500px;
    width: 500px;
}

.img_container>img {

    height: inherit;
    width: inherit;
    position: relative;
}

.img_container>.text_container {
    position: absolute;
    top: 45%;
    left: 25%;
}

.img_container>.from_who {
    position: absolute;
    top: 50%;
    left: 25%;
}