header {
  background-image: url(https://gallery.lajtkep.dev/resources/8d176c46250bc9b13f14e193f4a5ed9e9b4d77f77240a6b8c00fb408371c1d0e.png);
}

.cites li span{
  font-weight: 700;
  margin-left: 10px;
}