* {
    box-sizing: border-box;
}

header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav ul, footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}


nav {
    display: flex;
    align-items: center;
}

.current_page {
    background-color: pink;
}

nav a {
    text-decoration: none;
    padding: 10px;
    transition: background-color 1s ease-in-out;
    color: black;
}

nav a:hover {
    background-color: yellow;
    color: red;
}

footer {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.main_image {
    background-image: url(../images/team_photo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 220px;
}
.main_image h1{
    color: red;
    display: flex;
    justify-content: center;
    font-size: 80px;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 50px;
}

.content {
    text-align: center;
    width: 21%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    margin-top: 20px;
    height: 230px;
    background-color: red;
    color: yellow;
}

.content h2 {
    padding: 5px;
}

header img, footer img {
    height: 100px;
}

@media screen and (max-width: 800px){
    .main_image {
        padding: 20;
    }
    
    .main_image h1 {
        font-size: 50px;
        text-align: center;
    }
    .contents {
        flex-wrap: wrap;
    }
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        width: 42%;
        margin-left: 4%;
        margin-right: 4%;
    }

}