* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', serif;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

#game-field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card {
    font-size: large;
    padding: 15px;
    height: 100px;
    width: 160px;
    text-align: center;
    background-color: rgb(219, 108, 108);
    transition: 0.5s;
    margin: 10px;
    border-radius: 10px;
}

.card>div {
    margin-top: 20px;
}

.card:hover {
    background-color: rgb(125, 2, 2);
    transition: 0.5s;
    cursor: pointer;
}

.card.revealed {
    background-color: orange;
    transition: 0.5s;
}

.invisible {
    visibility: hidden;
}

.disabled {
    pointer-events: none;
}