* {
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    all: unset;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
}

.inputAndEdit {
    display: flex;
    flex-direction: row;
    background-color: rgb(204, 204, 204);
    padding-left: 50px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.inputForm div{
    width: 20%;
}

.inputForm {
    width: 75%;
    display: flex;
}

.dataHeadings {
    display: flex;
    padding-left: 50px;
    background-color: rgb(233, 233, 233);
    margin-top: 10px;
    margin-bottom: 10px;
}

.dataHeadings p {
    width: 15%;
    font-weight: bold;
}

.data {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 50px;
}

.dataRadek {
    display: flex;
    margin-bottom: 5px;
}

.dataZaznamy {
    width: 14.6%;
    border-radius: 1px solid black;
}

.dataZaznamy2 {
    display: flex;
    min-width: 170;
    margin-left: auto;
}

.upr {
    background-color: rgb(153, 255, 153);
}

.smz {
    background-color: rgb(255, 117, 117);
    margin-left: 5px;
}

.spinner {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100vw;
    height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;


    
    background-color: black;
    opacity: 0.5;
}

.spinner div {
    width: 100px;
    height: 100px;
    background-color: white;
    animation: spin 1s infinite;
}

@keyframes spin{
    100%{transform: rotate(360deg);}
}